//- Copyright
if page.layout != 'tags' && page.layout != 'categories'
  .copyright
    - var currentDate = new Date()
    - var year = currentDate.getFullYear()
    - var since = config.since
    if since
      - year = year == since ? year : since + '-' + year
    - copyright = '&copy; ' + year + ' '
    
    p.since
      span.cr
        != copyright
      span.author
        != config.author

div.social-bar
  div#fb-root
    div.fb-like(
      data-href=url 
      data-layout="button" 
      data-size="small"
      data-action="like" 
      data-show-faces="true")
  a.twitter-share-button(
    title="I read an article at"
    href="https://twitter.com/intent/tweet?text="
    data-size="normal")
      ="Tweet"
#press-one https://press.one/p/address/v?s=960b74fe833f745ee73dfc3116bf26db860573a30f909dc24dede50ea00585754cb3c57297b57dc8d16d058eeb58d2c9d7c50e5f6a5724091e991639b0ccd78a0&h=994162ece2f29bd2e74b3d0a9a8f8d03addc3701973226e3775466995c6b0505&a=37bb01456229cf59e14aa19c6755a8ba2947be9b&f=P1&v=2
