meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="author", content= config.author)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-title", content="Lyric.im")
meta(property="og:type", content="blog")
meta(property="og:site_name", content="Lyric.im")
meta(property="og:image", content=theme.appleicon)
meta(property="og:url" content=url)
meta(name="twitter:card", content="summary")
meta(name="twitter:image", content=theme.appleicon)
meta(name="twitter:site", content="@lyricwai")
meta(name="baidu-site-verification" content="KXjCITOGzv")
meta(name="msvalidate.01" content="28B65E699CD44FCABFEF261E4BBC79B1")



- var title = ''
if page.title
  - title = page.title
else 
  - title = config.title
meta(property="og:title", content=title)
meta(name="twitter:title", content=title)


- var description = '';
if page.description
  - description = page.description;
else if page.excerpt
  - description = strip_html(page.excerpt).substring(0, 140).replace(/\s/g, '');
else if page.content
  - description = strip_html(page.content).substring(0, 140).replace(/\s/g, '');
else
  - description = config.description
meta(name="description", content=description)
meta(name="twitter:description", content=description)
meta(property="og:description", content=description)

- var keywords = '';
if page.keywords
  - keywords = page.keywords;
else if page.tags
  - kw = [];
  - page.tags.each(function(tag) {
      - kw.push(tag.name);
  - });
  - keywords = kw.join(', ')
if keywords
  - keywords = keywords + ', ' + config.keywords
else
  - keywords = config.keywords
if keywords
  meta(name="keywords", content= keywords)
